<a 
  class="list-group-item clearfix"
  style="display: flex; align-items: stretch; cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active">
  
  <div style="flex: 1;">
    <h5 class="list-group-item-heading">{{ recipe?.name }}</h5>
    <p class="list-group-item-text">{{ recipe?.description }}</p>
  </div>

  <img 
    [src]="recipe?.imagePath" 
    alt="{{ recipe?.name }}" 
    class="img-responsive"
    style="max-width: 50px; height: auto; object-fit: cover; margin-left: 15px;">
</a>
